* {
    font-family:  'Open Sans', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
.nav>ul>li {
    float: right;
  }
  
.nav>ul>li a {
    display: block;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 23px;
    text-decoration: none;
    
  }
  .nav {
    padding-left: 70px;
    padding-right: 50px;
  }
  
#nav {
    height: 63px !important;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: white;
    padding-top: 1px;
    padding-bottom: 0px;
    padding-block: 0px;
    box-shadow:0 -1px 10px 0 #b8b4b4;
    position: fixed;
    z-index: 100;
}
#navicon {
    border: none;
    background-color: white;
}
.button-3 {
    appearance: none;
    background-color: #FF2B85;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  } 
a:link {
    text-decoration: none;
}
#logo {
    margin-top: 15px;
    height: 28px;
    cursor: pointer;
}
/*////////////////////////////////// 1st Section /////////////////////////////////*/

.Section1 {
    background-color: #f8f6f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    width: 100% !important;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-section {
    z-index: 10;
    max-width: 800px;
    padding-left: 60px;
}

.text-section p {
    font-size: 38px;
    font-style: normal;
    color: #333;
    margin-bottom: 30px;
    font-family: 'Poppins';
    font-weight: 650;
}

.search-bar {
    display: flex;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 15px;
    width: 80%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    
}

.search-bar input {
    flex: 1;
    outline: none;
    border-radius: 10px;
    font-size: 90%;
    width: 77%;
    border: 1px solid #bdbdbd; 
    padding: 15px; 
    cursor: pointer;
}

.locate-btn, .find-btn {
    border: none;
    background-color: #ff007f;
    color: white;
    padding: 13px 15px;
    margin-left: 10px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.locate-btn {
    background: #f8f6f5;
    color: #333;
}

.image-section {
    position: absolute;
    bottom: 0px;
    right: 0px;
    max-width: 600px;
    z-index: 1;
}

.image-section img {
    width: 560px;
    height: 540px;
    margin-bottom: -5px;
}
/*////////////////////////////////// 2nd Section //////////////////////////////////*/

.container2 {
    position: relative;
    width: 100%;
    height: 400px;
    background: url('./images/image_2.jpg') no-repeat center center/cover;
}

.overlay {
    position: absolute;
    left: 5%;
    bottom: -150px; /* Moves the box downward */
    background: white;
    padding: 30px;
    width: 530px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.overlay h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Poppins';
    font-weight: 550;
}

.overlay p {
    font-size: 15px;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .overlay {
        left: 5%;
        width: 80%;
    }
}

 .sec2 {
    padding-left: 60px;
}  
#p1{
    padding-top: 4%;
    font-size: 30px;
    color:  rgb(51, 51, 51);
    font-family: 'Poppins';
    font-weight: 650;
    text-align: left;
}
.cities {
    height: auto;
    padding-top: 100px;
    margin-left: 40px;
    margin-right: 20px;
    text-align: center;
}
#cities {
    float: left;
    font-family: 'Poppins';
    margin-top: 200px;
    margin-left: 10px;
    height: 44px;
    /* width: 130px; */
    font-size: 16px;
    border-radius: 10px;
    background-color: #ffffff;
    color: rgb(51, 51, 51);
    cursor: pointer;
    border: none;
    text-align: center;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 14px;
    padding-top: 10px;
} 
.grid {
    height: 250px;
    width: 280px;
    background-size: cover;
    border-radius: 15px;
    display: inline-block;
    margin: 8px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.grid:hover {
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}
#Islamabad {
    background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/1e/0c/84/img-20171003-180932-213.jpg?w=1200&h=1200&s=1');
}
#karachi {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d1/Jinnah_Mausoleum.JPG');
}
#lahore {
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/16/d9/ca/32/caption.jpg');
}
#faisalabad {
    background-image: url('https://i.pinimg.com/736x/24/14/c4/2414c43f1d45c62dadc0f57290d448f4.jpg');
}
#sialkot {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNFyfm3s8cKoE8myJzFmJci32XmKzbaTKN4zmyqAf_xJxQ-GSuTr2cGBiv45kKmf2DHcw&usqp=CAU');
}
#abbottabad {
    background-image: url('https://historypak.com/wp-content/uploads/2013/07/5186fafbdbad59f501b06f61342d62f8.jpg');
}
#murree {
    background-image: url('https://i.pinimg.com/736x/02/c2/3f/02c23f7042b2c6c4fd3782ecc225c7ee.jpg');
}
#multan {
    background-image: url('https://www.flydubai.com/en/media/multan_tcm8-6326.jpg');  
} 
#quetta {
    background-image: url('https://bhc.gov.pk/media/district-judiciary/quetta/intro/quetta_at_night.jpg?v=i20');  
}
#peshawar {
    background-image: url('https://www.salamair.com/images/des1/pexels-raqeeb-ahmed-5838446.jpg'); 
}
#jhelum {
    background-image: url('https://cdn.britannica.com/74/144674-050-D5755E4F/Jhelum-River-Srinagar-India-Jammu-and-Kashmir.jpg');
}
#hyderabad {
    background-image: url('https://www.mistay.in/travel-blog/content/images/2023/03/Hyderabad.jpg');
}
.Section3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container3 {
    width: 90%;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E21B70;
    border-radius: 20px;
}

.text-section2 {
    z-index: 10;
    max-width: 500px;
    padding-left: 30px;
}

.text-section2 p {
    font-size: 16px;
    font-style: normal;
    color: #333;
    font-family: 'Poppins';
    font-weight: 400;
}
.image-section2 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    max-width: 600px;
    z-index: 1;
}

.image-section2 img {
    width: 510px;
    height: 420px;
    margin-bottom: -5px;
    margin-right: 33px;
}
.qrcode {
    display: flex;
    align-items: center;
}

.container4 {
    position: relative;
    width: 100%;
    height: 400px; /* Increased height */
    background: url('./images/home-corporate-pk.jpg') no-repeat center center/cover;
}
.overlay4 {
    position: absolute;
    left: 5%;
    bottom: -120px; 
    background: white;
    padding: 30px;
    width: 530px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.overlay4 h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Poppins';
    font-weight: 550;
}

.overlay4 p {
    font-size: 15px;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .overlay4 {
        left: 5%;
        width: 80%;
    }
}
#headings {
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 650;
    color: #333333;
}
#div-a {
    position: absolute;
    top: 350px;
    left: 20px;
    width: 540px;
    height: 190px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 15px;
    box-shadow:0 -1px 4px 0 #b8b4b4;
    margin-left: 50px;
    background-color: white;
    color: black;
    padding: 2px;
    text-align: left;
}
#div-4 {
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
}
#p-last {
    font-size: 15px;
    font-weight: 200 ;
    color: rgb(51, 51, 51);
}
#h-last {
    font-size: 18px;
    font-weight: 550;
    color: rgb(51, 51, 51);
    font-family: 'Poppins';
}
#div-last{
    display: flex;
    align-items: start;
    justify-content: space-around;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding: 0px;
}
#foodpanda {
    margin: 4px;
    height: auto;
    padding: 3px;
}

#list, #last {
    list-style-type: none;
    padding: 0px;
    font-size: 15px;
    font-weight: 300;
    color: rgb(50, 59, 69);
    line-height: 2.3em;
    text-decoration: underline; 
    text-decoration-thickness: 1px;   
    text-underline-offset: 5px;
}
span {
    text-decoration: underline; 
    text-decoration-thickness: 1px;   
    text-underline-offset: 5px;
}
#footer{
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
}