
body {
    width: auto;
    height: auto;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   ;
}

#nav {
    display: inline-block;
    z-index: 100;
    align-items:center !important;
    margin-top: 0px; 
    height: 70px !important;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    padding-top: 1px;
    padding-bottom: 0px;
    padding-block: 0px;
    text-align: center;
    box-shadow:0 -1px 10px 0 #b8b4b4   
}

#navbar>li {
    display: inline-block;
    color: black;
    margin-right: 35px;
    margin-top: 0px !important; 
    font-size: 14px;
    padding-top: 0px;
    text-align: center;
    z-index: 100;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
}
#navicon {
    border: none;
    background-color: white;
}
#icon {
    height: 20px;
    width: 20px;
    margin-top: 0%;
    cursor: pointer;

}
#bagicon {
    height: 30px;
    width: 30px;
    margin-top: 0%;
}
#login {
    border-style: solid;
    border-color: #e21b70;
    border-width: 1px;
    border-radius: 16%;
    width: 50px;
    height: 20px;
    color: #e21b70;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;  
}
#signup {
    border-style: solid;
    border-color: #e21b70;
    border-width: 1px;
    border-radius: 16%;
    width: 53px;
    height: 20px;
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;  
    background-color: #e21b70;
}
a:link {
    text-decoration: none;
    color: #e21f72;
}

#logo {
    height: 30px;
    width: 140px;
    padding-top: 0px !important;
    margin-top: 0px !important;
    margin-right: 750px;
    margin-left: 20px;
    cursor: pointer;
}
#main {
    display: block;
    background-color: #f5f1f1;
    height: 390px;
    width:  100%;
    text-align: left;
    padding-top: 18%;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;

}
p {
    padding-left: 50px;
    margin-right: 20px;
    font-size: 40px;
    font-weight: 400;
    line-height: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    color: rgb(51, 51, 51)
    
}
#foodpandamain {
    position: absolute;
    top: 80px;
    right: 1px;
    height: 88%;
    width: 45%;
    float: right;
    z-index: 1;
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 500px;
}
#div2 {
    height: 500px;
}
input {
    float: left;
    font-size: 100%;
    width: 77%;
    border: 1px solid #bdbdbd; 
    border-radius: 8px; 
    padding: 15px; 
    background-repeat: no-repeat; 
    background-position: 399px 4px; 
    margin-bottom: 0px;
    margin-top: 5px;
    background-image: url(./images/Screenshot\ 2024-03-14\ 234004.png);
    cursor: pointer;
}
#input {
   display: inline-block;
   margin-left: 50px;
   border: #ffffff;
   border-style: solid;
   border-width: 2px;
   border-radius: 15px;
   height: 60px;
   width: 650px;
   margin-right: 46%;
   background-color: #ffffff;
   box-shadow:0 -1px 7px 0 #b8b4b4;
   padding: 8px 8px 8px 8px;  
}
#findfood{
    position: absolute;
    margin-top: 5px;
    border-style: solid;
    border-color: #e21b70;
    border-width: 1px;
    border-radius: 8px;
    width: 90px;
    height: 35px;
    background-color: #e21b70;
    margin-left: 550px;
    text-align: center;
    color: white;
    padding-top: 10px;
    font-weight: 400;
}
#div2 {
    height: auto;
    position: relative;
}
#image_2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 5;
}
#p1{
    padding-top: 4%;
    padding-bottom: 1%;
    font-size: 34px;
    color: rgb(0, 0, 0);
}
#p3 {
    font-size: 18px;
    line-height: 20px;
}
#h {
    font-size: 24px;
}
#div3 {
    position: absolute;
    top: 350px;
    left: 20px;
    width: 540px;
    height: 300px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 15px;
    box-shadow:0 -1px 4px 0 #b8b4b4;
    margin-left: 50px;
    background-color: white;
    color: black;
    padding: 2px;
    text-align: left;
}
#getstarted {
    border-style: solid;
    border-color: #e21b70;
    border-width: 1px;
    border-radius: 8px;
    width: 90px;
    height: 35px;
    background-color: #e21b70;
    margin-left: 50px;
    text-align: center;
    color: white;
    padding-top: 10px;
    font-weight: 400;
}
#cities {
    height: auto;
    padding-top: 100px;
    margin-left: 40px;
    margin-right: 20px;
}
#Islamabad {
    height: 250px;
    width: 280px;
    background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/1e/0c/84/img-20171003-180932-213.jpg?w=1200&h=1200&s=1');
    background-size: cover;
    border-radius: 15px;
    display: inline-block;
    margin: 8px;
   
}
#Islamabad>button {
    margin-top: 200px;
    margin-left: 10px;
    height: 44px;
    width: 130px;
    font-size: 19px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    text-align: center;
    font-weight: 300;
} 
#karachi {
    height: 250px;
    width: 280px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d1/Jinnah_Mausoleum.JPG');
    background-size: cover;
    border-radius: 15px;
    display: inline-block;
    margin: 8px;
   
}
#karachi>button {
    margin-top: 200px;
    margin-left: 10px;
    height: 44px;
    width: 130px;
    font-size: 19px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    text-align: center;
    font-weight: 300;
} 
#lahore {
    height: 250px;
    width: 280px;
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/16/d9/ca/32/caption.jpg');
    background-size: cover;
    border-radius: 15px;
    display: inline-block;
    margin: 8px;
   
}
#lahore>button {
    margin-top: 200px;
    margin-left: 10px;
    height: 44px;
    width: 130px;
    font-size: 19px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    text-align: center;
    font-weight: 300;
} 
#faisalabad {
    height: 250px;
    width: 280px;
    background-image: url('https://i.pinimg.com/736x/24/14/c4/2414c43f1d45c62dadc0f57290d448f4.jpg');
    background-size: cover;
    border-radius: 15px;
    display: inline-block;
    margin: 8px;
   
}
#faisalabad>button {
    margin-top: 200px;
    margin-left: 10px;
    height: 44px;
    width: 130px;
    font-size: 19px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    text-align: center;
    font-weight: 300;
} 
#sialkot {
    height: 250px;
    width: 280px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNFyfm3s8cKoE8myJzFmJci32XmKzbaTKN4zmyqAf_xJxQ-GSuTr2cGBiv45kKmf2DHcw&usqp=CAU');
    background-size: cover;
    border-radius: 15px;
    display: inline-block;
    margin: 8px;
   
}
#sialkot>button {
    margin-top: 200px;
    margin-left: 10px;
    height: 44px;
    width: 130px;
    font-size: 19px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    text-align: center;
    font-weight: 300;
} 
#abbottabad {
    height: 250px;
    width: 280px;
    background-image: url('https://historypak.com/wp-content/uploads/2013/07/5186fafbdbad59f501b06f61342d62f8.jpg');
    background-size: cover;
    border-radius: 15px;
    display: inline-block;
    margin: 8px;
   
}
#abbottabad>button {
    margin-top: 200px;
    margin-left: 10px;
    height: 44px;
    width: 130px;
    font-size: 19px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    text-align: center;
    font-weight: 300;
} 
#murree {
    height: 250px;
    width: 280px;
    background-image: url('https://i.pinimg.com/736x/02/c2/3f/02c23f7042b2c6c4fd3782ecc225c7ee.jpg');
    background-size: cover;
    border-radius: 15px;
    display: inline-block;
    margin: 8px;
   
}
#murree>button {
    margin-top: 200px;
    margin-left: 10px;
    height: 44px;
    width: 130px;
    font-size: 19px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    text-align: center;
    font-weight: 300;
} 
#multan {
    height: 250px;
    width: 280px;
    background-image: url('https://www.flydubai.com/en/media/multan_tcm8-6326.jpg');
    background-size: cover;
    border-radius: 15px;
    display: inline-block;
    margin: 8px;
   
}
#multan>button {
    margin-top: 200px;
    margin-left: 10px;
    height: 44px;
    width: 130px;
    font-size: 19px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    text-align: center;
    font-weight: 300;
} 
#quetta {
    height: 250px;
    width: 280px;
    background-image: url('https://www.travelgirls.pk/wp-content/uploads/2020/04/Quetta-city-1-750x353.jpg');
    background-size: cover;
    border-radius: 15px;
    display: inline-block;
    margin: 8px;
   
}
#quetta>button {
    margin-top: 200px;
    margin-left: 10px;
    height: 44px;
    width: 130px;
    font-size: 19px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    text-align: center;
    font-weight: 300;
} 
#peshawar {
    height: 250px;
    width: 280px;
    background-image: url('https://www.salamair.com/images/des1/pexels-raqeeb-ahmed-5838446.jpg');
    background-size: cover;
    border-radius: 15px;
    display: inline-block;
    margin: 8px;
   
}
#peshawar>button {
    margin-top: 200px;
    margin-left: 10px;
    height: 44px;
    width: 130px;
    font-size: 19px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    text-align: center;
    font-weight: 300;
} 
#jhelum {
    height: 250px;
    width: 280px;
    background-image: url('https://cdn.britannica.com/74/144674-050-D5755E4F/Jhelum-River-Srinagar-India-Jammu-and-Kashmir.jpg');
    background-size: cover;
    border-radius: 15px;
    display: inline-block;
    margin: 8px;
   
}
#jhelum>button {
    margin-top: 200px;
    margin-left: 10px;
    height: 44px;
    width: 130px;
    font-size: 19px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    text-align: center;
    font-weight: 300;
} 
#hyderabad {
    height: 250px;
    width: 280px;
    background-image: url('https://www.mistay.in/travel-blog/content/images/2023/03/Hyderabad.jpg');
    background-size: cover;
    border-radius: 15px;
    display: inline-block;
    margin: 8px;
   
}
#hyderabad>button {
    margin-top: 200px;
    margin-left: 10px;
    height: 44px;
    width: 130px;
    font-size: 19px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    text-align: center;
    font-weight: 300;
} 
#phone {
    height: 500px;
    padding-bottom: 300;
    padding-top: 0px;
    display: inline-block;

}
#box {
    height: 300px;
    width: 590px;
    margin-left: 50px;
    margin-right: 10px !important;
    background-color: #e21b70;
    padding: 15px;
    border-radius: 15px;
    padding-right: 650px;
    display: inline-block;
}
#appstore {
    display: inline;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 8px;
    background-color: #000000;
    text-align: center;
    color: white;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-top: 10px;
    padding-right: 5px;
    font-weight: 400;
    margin-left: 50px;
    font-size: 20px;
    box-shadow: 0 -1px 7px 0 #2e2c2c;
}
#text {
    padding-right: 500px;
    display: inline;
}
#qrcode{
    position: absolute;
    left: 45px;
    margin-left: 65px;
    display: inline;
    margin-top: 20px;

}
#phone>img {
    position: absolute;
    left: 700px;
    top: 2310px; 
    width: 600px;
    height: 490px;
}
#div-a {
    position: absolute;
    top: 350px;
    left: 20px;
    width: 540px;
    height: 190px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 15px;
    box-shadow:0 -1px 4px 0 #b8b4b4;
    margin-left: 50px;
    background-color: white;
    color: black;
    padding: 2px;
    text-align: left;
}
#div-4 {
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
}
#p-last {
    font-size: 17px;
    font-weight: 300 ;
    Line-height: 25.6px;
    color: rgb(51, 51, 51);
}
#h-last {
    font-size: 19px;
    font-weight: 700;
    color: rgb(51, 51, 51);
}
#div-last{
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    height: 200px;
    padding: 0px;
}
#foodpanda {
    display: inline-block;
    margin: 4px;
    width: 265px;
    height: auto;
    padding: 3px;
}
 
ul {
    list-style-type: none;
    padding: 0px;
    font-size: 15px;
    font-weight: 300;
    color: #e21b70;
    line-height: 25px;
}